body{
  margin: 0;
  background-color: #FFF8E7;
}

.chat {
  min-height: 300px;
  max-height: 800px;
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 5px;
}

.chat div{
  margin: 3px;
  background-color: #FFF;
  border-radius: 1%;
}

.chat #main-area{
  display:grid;
  grid-template-rows: 90% 10%;
}

#main-area .chat-bar,
.chat-bar #chat-form {
  height: 100%;
  margin: 0;
}

.chat-bar #chat-form{
  display:grid;
  grid-template-columns: 80% 20%;
}

#chat-form #chat-input{
  background-color: #f4f6f9;
  border: 0;
  padding-left: 10px;
  border: 1px solid #dce1ec;
  border-radius: 4px;
  color: #000;
}

#chat-form #chat-input:focus {
  border-color: #feb805;
}
#chat-form #chat-submit{
  background-color: #251a29;
  color: #fff;
  border: 0;
}
